.notice__header {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 30px;
}
.notice__header > h1 {
    font-weight: normal;
    font-size: 32px;
    line-height: 1;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}
.notice__clearAll {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 260px;
    height: 44px;
    font-size: 16px;
    line-height: 15px;
    color: #ffffff;
    padding: 0;
    border: 1px solid #242424;
    background-color: #242424;
    cursor: pointer;
    margin-left: auto;
}
.notice__clearAll:hover {
    color: #242424;
    background-color: #ffffff;
}
.notice__content {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 74%;
    border-top: 1px solid #151515;
    padding-top: 30px;
    margin-left: auto;
}
.noticeSection {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background-color: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.noticeSection + .noticeSection {
    margin-top: 20px;
}
.noticeSection__head {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    color: #212121;
    margin-bottom: 16px;
}
.noticeSection__head-icon {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 24px;
    height: 24px;
    background-color: #212121;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.noticeSection__head > h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}
.noticeSection__head > time {
    font-size: 14px;
    line-height: 13px;
    margin-left: 4px;
}
.noticeSection__head > time > span {
    margin-left: 20px;
}
.noticeSection__head > button {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 1px solid #242424;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}
.noticeSection__head > button:hover {
    background-color: #212121;
}
.noticeSection__head > button:hover > svg > path {
    fill: #ffffff;
}
.noticeSection > p {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}